body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
}

a {
  background-color: rgba(61, 122, 163, 0);
  color: #8d6c56;
  text-decoration: none;
}

a:hover {
  color: #a8836a;
  text-shadow: 1px 1px 6px hsla(45, 71%, 87%, .53);
}

a:active {
  color: #000;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  padding-top: 0px;
  padding-left: 0px;
}

.nav-bar_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 24px 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-button {
  min-width: 100px;
  margin-right: 31px;
  margin-left: 0px;
  padding: 9px 16px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(44, 1, 1, .07);
  border-radius: 6px;
  background-color: transparent;
  box-shadow: 3px 3px 14px -2px rgba(37, 3, 3, .22);
  direction: ltr;
  color: #000;
  text-align: center;
  text-transform: lowercase;
}

.nav-button:hover {
  box-shadow: 3px 3px 14px -2px rgba(37, 3, 3, .47);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.nav-button.right-nav-button {
  margin-right: 21px;
}

.div-block {
  display: block;
  width: 90%;
  height: 55vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-image: url('../images/anna-mockup-5-2.jpg');
  background-position: 57% 50%;
  background-size: cover;
  box-shadow: -1px 8px 50px -1px rgba(0, 0, 0, .23);
}

.image {
  position: static;
  left: 5%;
  top: 0px;
  right: 5%;
  overflow: visible;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 7px;
  background-image: url('../images/anna-mockup-5.jpg'), url('../images/example-bg.png');
  background-position: 0px 0px, 50% 50%;
  background-size: cover, cover;
  box-shadow: 0 0 43px -5px rgba(0, 0, 0, .23);
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-top: -100px;
  margin-bottom: 0px;
  padding: 30px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: rgba(44, 1, 1, .22);
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 50px 3px rgba(44, 1, 1, .22);
}

.image-2 {
  min-height: 140px;
  min-width: 140px;
  margin-right: 20px;
  padding-right: 0px;
  border-radius: 100%;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 69px;
  padding-bottom: 69px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-top: 0px;
  margin-right: 38px;
  margin-left: 38px;
  padding: 22px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 10px;
  text-align: center;
}

.div-block-4 {
  position: relative;
  bottom: -14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  margin-bottom: 0px;
  padding: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: rgba(44, 1, 1, .22);
  border-radius: 7px;
  background-color: hsla(0, 0%, 100%, 0);
}

.logo-icon {
  width: 43px;
  margin-right: 10px;
  padding-right: 0px;
}

.logo-icon:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.logo-icon.far-right-socicon {
  margin-right: 0px;
}

.logo-icon.icon-footer {
  width: 35px;
  margin-right: 4px;
}

.logo-icon.icon-footer.right-footer-icon {
  margin-right: 0px;
}

.list-image {
  padding-right: 17px;
  float: right;
  text-align: left;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.why-me-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  padding-top: 47px;
  padding-bottom: 47px;
}

.column {
  padding-right: 85px;
  padding-left: 27px;
}

.column-2 {
  padding-left: 0px;
}

.paragraph {
  padding-bottom: 0px;
}

.div-block-5 {
  margin-bottom: -8px;
  padding-bottom: 0px;
}

.heading-2 {
  display: inline-block;
}

.div-block-6 {
  width: 80%;
  margin-right: 31px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  margin-bottom: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  width: 80%;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.paragraph-2 {
  text-align: justify;
}

.paragraph-3 {
  text-align: justify;
}

.block-quote {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  line-height: 30px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-8.floating-white-div {
  width: 95%;
  height: 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 50px -1px rgba(44, 1, 1, .22);
}

.div-block-8.floating-white-div:hover {
  box-shadow: 0 0 50px -1px rgba(0, 20, 245, .22);
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 72px;
  margin-bottom: 0px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-3 {
  margin-top: 0px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.heading-5 {
  display: inline-block;
  margin-top: -12px;
  padding-top: 0px;
  text-align: center;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-13 {
  width: 80%;
  min-height: 200px;
}

.row-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 47px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 140px;
  max-width: 95%;
  padding: 22px 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 50px -1px rgba(44, 1, 1, .22);
}

.contact-div:hover {
  box-shadow: 0 0 50px -1px rgba(9, 26, 209, .27);
}

.row-6 {
  margin-top: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  font-size: 17px;
}

.footer-link {
  margin-left: 26px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.footer-link.mono {
  font-family: Inconsolata, monospace;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 11px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flag-in-contact {
  width: 30px;
  margin-left: 6px;
  -webkit-filter: saturate(170%);
  filter: saturate(170%);
}

.flag-header {
  width: 30px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-filter: saturate(170%);
  filter: saturate(170%);
}

.flag-header:hover {
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
  text-shadow: none;
}

.container-5 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.row-7 {
  margin-bottom: 7px;
  padding-right: 5px;
  padding-left: 5px;
}

.heading-7 {
  margin-bottom: 0px;
  text-align: center;
}

.heading-8 {
  width: auto;
  padding-left: 5px;
  text-align: left;
}

.image-5 {
  margin-bottom: -16px;
  padding-bottom: 0px;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 66px;
  padding-bottom: 66px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-container {
  padding-top: 15px;
}

.icon-container.social-icon-footer {
  padding-top: 0px;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.new-nav-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 65px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-but-w-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 130px;
  margin-left: 21px;
  padding: 7px 10px 7px 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(44, 1, 1, .12);
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, .48);
  box-shadow: 1px 1px 15px -5px rgba(44, 1, 1, .6);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.nav-but-w-icon:hover {
  box-shadow: 1px 1px 15px -1px rgba(0, 20, 245, .22);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block-4.nav-link {
  text-decoration: none;
}

.image-6 {
  height: 21px;
  margin-right: 5px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-link {
  display: inline-block;
  color: #000;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.websites-p {
  width: 460px;
  padding: 26px 34px;
  text-align: justify;
}

.block-quote-2 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
}

.block-quote-2.greek {
  margin-right: 38px;
  margin-left: 38px;
  padding-right: 0px;
  padding-left: 21px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

.block-quote-2.greek-quote {
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 0px;
  padding-left: 30px;
}

.div-block-21 {
  height: 60px;
}

.column-11 {
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.link-w-hover-underline:hover {
  border-bottom: 4px solid rgba(44, 1, 1, .17);
}

.image-7 {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.footer-text {
  display: inline-block;
  color: #969696;
  font-size: 13px;
  text-align: right;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  margin-bottom: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bold-text-3 {
  color: #969696;
}

.link {
  color: #969696;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 81%;
  height: auto;
  min-height: auto;
  padding-top: 38px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bio-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
  padding-left: 116px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-24 {
  height: 80vh;
  min-width: 420px;
  margin-right: 0px;
  padding-right: 0px;
  background-image: url('../images/Anna-new-profile-pic-AUG-2018.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.bio-paragraph {
  margin-bottom: 22px;
  text-align: justify;
}

.div-block-25 {
  height: 60px;
}

.about-me-h1 {
  margin-top: 0px;
  padding: 9px 13px;
  border-style: dashed;
  border-width: 5px;
  border-color: rgba(44, 1, 1, .11);
  border-radius: 12px;
}

.row-8 {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 22px;
}

.website-example {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 17px;
  padding: 11px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.website-example.horizontal {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.visit-website-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-8 {
  margin-right: 5px;
  color: #8d6c56;
}

.visit-website-link {
  border-bottom: 2px solid #000;
  color: #000;
}

.website-description {
  color: #5d5d5d;
  font-size: 16px;
  text-align: justify;
}

.website-example-text {
  padding-right: 35px;
  padding-left: 34px;
}

.website-example-text.horizontal-text {
  width: 40vw;
  padding-top: 23px;
  padding-right: 0px;
  padding-left: 0px;
}

.click-image {
  display: inline-block;
  margin-right: 13px;
  color: #7e7e7e;
}

.external-link-icon {
  margin-right: 5px;
}

.visit-website-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
  padding: 3px 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dotted;
  border-width: 2px;
  border-color: rgba(44, 1, 1, .22);
  border-radius: 4px;
}

.visit-website-block:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.visit-website-block.not-live:hover {
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
  -webkit-transform: scale(1) translate(0px, 0px);
  -ms-transform: scale(1) translate(0px, 0px);
  transform: scale(1) translate(0px, 0px);
}

.website-img:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.note-to-self {
  margin-bottom: 0px;
  font-size: 30px;
  text-align: left;
}

.skills-used-paragraph {
  border-bottom: 2px dotted rgba(44, 1, 1, .22);
  font-family: 'Roboto Mono', sans-serif;
  color: #7e7e7e;
  font-size: 15px;
  text-decoration: none;
}

.container-7 {
  margin-top: 0px;
}

.div-block-27 {
  margin-top: 50px;
  margin-bottom: 16px;
}

.lightbox-thumbnail:hover {
  -webkit-transform: scale(1.005);
  -ms-transform: scale(1.005);
  transform: scale(1.005);
}

.flag-button {
  margin-left: 23px;
}

@media (max-width: 991px) {
  .nav-bar_div {
    width: 95%;
  }
  .nav-button {
    margin-right: 20px;
    box-shadow: 1px 1px 12px -4px rgba(37, 3, 3, .22);
  }
  .nav-button.right-nav-button {
    margin-right: 10px;
  }
  .div-block {
    width: 95%;
    height: 35vh;
    background-position: 50% 50%;
    background-size: cover;
  }
  .hero-div {
    margin-top: -73px;
  }
  .div-block-4 {
    margin-top: 0px;
    margin-bottom: 36px;
    padding-top: 7px;
    padding-bottom: 0px;
  }
  .column {
    padding-right: 110px;
    padding-left: 40px;
  }
  .div-block-8.floating-white-div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .heading-3 {
    margin-bottom: 0px;
  }
  .column-8 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .flag-header {
    width: 30px;
  }
  .flag-header:hover {
    box-shadow: 0 0 12px -2px rgba(44, 1, 1, .22);
  }
  .heading-6 {
    padding-left: 0px;
  }
  .text-block {
    text-align: justify;
  }
  .text-block-2 {
    text-align: justify;
  }
  .text-block-3 {
    text-align: justify;
  }
  .bold-text {
    display: block;
  }
  .bold-text-2 {
    display: block;
  }
  .row-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-6 {
    padding-top: 50px;
  }
  .new-nav-div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .websites-p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .block-quote-2 {
    margin-top: 10px;
  }
  .div-block-21 {
    height: 50px;
  }
  .div-block-28 {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .nav-button {
    min-width: 90px;
    font-size: 14px;
  }
  .div-block {
    width: 100%;
    height: 60vh;
    border-radius: 0px;
    background-image: url('../images/anna-mockup-5-mobile.jpg');
    background-position: 73% 32%;
    background-size: cover;
    background-attachment: scroll;
  }
  .hero-div {
    width: 270px;
    margin-top: -111px;
    padding: 20px 17px 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-2 {
    width: 150px;
    height: 150px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .container-2 {
    margin-bottom: 26px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-3 {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  .div-block-4 {
    margin-top: 7px;
    margin-bottom: 47px;
  }
  .list-image {
    margin-right: 4px;
    padding-right: 29px;
  }
  .container-3 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .column {
    padding-right: 30px;
    padding-left: 30px;
  }
  .paragraph {
    font-size: 15px;
    text-align: center;
  }
  .heading-2 {
    margin-bottom: 10px;
  }
  .column-3 {
    padding-right: 0px;
  }
  .row-4 {
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .column-4 {
    padding-right: 0px;
  }
  .paragraph-2 {
    text-align: justify;
  }
  .paragraph-3 {
    text-align: justify;
  }
  .block-quote {
    margin-right: 62px;
    margin-left: 31px;
    padding-right: 52px;
    padding-left: 18px;
    font-size: 20px;
    line-height: 26px;
  }
  .div-block-8.floating-white-div {
    width: auto;
    height: 110px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .div-block-9 {
    padding-right: 7px;
    padding-left: 7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .row-5 {
    padding-right: 113px;
    padding-left: 113px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 140px;
    max-width: 100%;
    min-width: 60%;
    padding-right: 1px;
    padding-left: 1px;
  }
  .row-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-7 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-8 {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-14 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .flag-header {
    margin-left: 13px;
  }
  .div-block-16 {
    height: 60px;
  }
  .container-4 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container-5 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .hero-paragraph {
    margin-top: 20px;
    padding-right: 0px;
    font-size: 15px;
    text-align: center;
  }
  .image-3 {
    min-width: 80px;
  }
  .image-4 {
    min-width: 80px;
  }
  .row-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-17 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .new-nav-div {
    width: 98%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-but-w-icon {
    margin-left: 10px;
  }
  .div-block-19 {
    height: 70px;
  }
  .text-span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .column-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-22 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .row-8 {
    padding-left: 0px;
  }
  .image-9 {
    width: 85px;
    height: 85px;
  }
  .image-10 {
    width: 80px;
    height: 80px;
  }
  .image-11 {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 479px) {
  .nav-bar_div {
    width: 100%;
    padding-right: 20px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .div-block {
    height: 25vh;
    background-image: url('../images/anna-mockup-5-mobile.jpg');
    background-position: 54% 0%;
    background-size: cover;
  }
  .hero-div {
    position: static;
    width: 70vw;
    margin-top: -44px;
    padding-bottom: 28px;
  }
  .image-2 {
    width: 110px;
    height: 110px;
    margin-right: 0px;
  }
  .container-2 {
    margin-bottom: 0px;
    padding: 90px 10px 65px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .div-block-3 {
    padding-top: 58px;
    padding-bottom: 58px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    position: static;
    z-index: 1;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .div-block-4 {
    margin-bottom: 50px;
  }
  .list-image {
    overflow: visible;
    margin-top: 21px;
    padding-right: 0px;
    float: none;
    clear: none;
  }
  .why-me-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .container-3 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .div-block-8.floating-white-div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-9 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .row-5 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .contact-div {
    width: auto;
    height: 140px;
    max-width: 100%;
    margin-bottom: 44px;
    padding-right: 22px;
    padding-left: 22px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .row-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .column-5 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-6 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-7 {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-8 {
    padding-top: 23px;
    padding-bottom: 23px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-link {
    margin-left: 16px;
    font-size: 14px;
  }
  .div-block-14 {
    padding-right: auto;
    padding-left: auto;
  }
  .flag-header {
    width: 32px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .text-block {
    text-align: left;
  }
  .text-block-2 {
    text-align: left;
  }
  .text-block-3 {
    text-align: left;
  }
  .container-5 {
    padding-left: 15px;
  }
  .image-3 {
    position: relative;
    z-index: 0;
    overflow: hidden;
    max-width: 80px;
    opacity: 0.59;
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
  }
  .image-4 {
    position: relative;
    z-index: 0;
    max-width: 80px;
  }
  .column-9 {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading-7 {
    margin-top: 1px;
    margin-bottom: 6px;
  }
  .icon-container {
    padding-top: 35px;
  }
  .div-block-17 {
    padding-right: 11px;
    padding-left: 11px;
  }
  .new-nav-div {
    width: 100%;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .mo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .mobile-nav-butt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 7px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: dashed;
    border-width: 2px;
    border-color: rgba(44, 1, 1, .22);
    box-shadow: 2px 6px 14px -7px rgba(44, 1, 1, .22);
    font-size: 15px;
  }
  .mobile-nav-butt.left-nav-butt {
    margin-right: 11px;
    padding: 8px;
  }
  .mobile-nav-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 2px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-nav-1.nav-2 {
    margin-bottom: 0px;
    padding-right: 22px;
    padding-left: 22px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-nav-container {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .why-me-1st-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    margin-bottom: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-19 {
    height: 30px;
  }
  .column-10 {
    padding-top: 31px;
  }
  .website-example {
    margin-bottom: 6px;
  }
  .website-example.horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .visit-website-div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .visit-website-link {
    font-size: 15px;
  }
  .website-description {
    margin-top: 8px;
    font-size: 15px;
    text-align: left;
  }
  .website-example-text.horizontal-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .click-image {
    margin-top: 7px;
    margin-right: 0px;
    font-size: 14px;
  }
  .external-link-icon {
    width: 26px;
    margin-right: 3px;
  }
  .note-to-self {
    margin-bottom: 60px;
  }
  .container-7 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-9 {
    width: 75px;
    height: 75px;
  }
  .link-block {
    margin-left: 13px;
  }
  .flag-link-mobile {
    margin-left: 18px;
  }
}

