  <div class="section-header illustration-header">
    <div class="container w-container">
      <h1 class="heading-6">Illustration</h1>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="text-block w-richtext">
        <h3>
          {% if page.lang == 'en' %}
          {{ site.ill-heading-en }}
          {% elsif page.lang == 'de' %}
          {{ site.ill-heading-de }}
          {% elsif page.lang == 'gr' %}
          {{ site.ill-heading-gr }}
          {% endif %}
        </h3>
      </div>
      <a href="https://www.instagram.com/brechdaslicht/" target="_blank" class="w-inline-block">
        <div class="button button-insta">
          <div class="fa-icon fa-left"></div>
          <div class="button-text">
          {% if page.lang == 'en' %}
          Follow me on Instagram
          {% elsif page.lang == 'de' %}
          Mir auf Instagram folgen
          {% elsif page.lang == 'gr' %}
          Ακολουθήστε με στο Instagram
          {% endif %}
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- 1st Secion START -->
  <div class="section">
    <div class="w-container">
      <h2>Monochrome</h2>

      
      <div class="photo-wrapper">

      <!-- FANCYBOX START -->
      {% for item in site.data.monochrome %}
      <a href="/images/{{ item.full }}" data-fancybox="monochrome" data-caption="{{ item.caption }}">
        <img src="/images/{{ item.thumb }}" class="portfolio-img" alt="{{ item.alt }}" />
      </a>
      {% endfor %}
      <!-- FANCYBOX END -->

      </div>
    </div>
  </div>

<!-- 1st Secion END -->
      
  <div class="section">
    <div class="w-container">
      <h2>Colored Digital</h2>
      <div class="photo-wrapper">
        <!-- FANCYBOX START -->
        {% for item in site.data.color %}
        <a href="/images/{{ item.full }}" data-fancybox="color" data-caption="{{ item.caption }}">
          <img src="/images/{{ item.thumb }}" class="portfolio-img" alt="{{ item.alt }}" />
        </a>
        {% endfor %}
      <!-- FANCYBOX END -->

     </div>
    </div>
  </div>

{% include components/cta.html %}