    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>

    <meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" name="description">
    <meta content="{{ site.title }} | {{ page.title }}" property="og:title">
    <meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" property="og:description">
    <meta content="{{ site.title }} | {{ page.title }}" property="twitter:title">
    <meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" property="twitter:description">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% if page.banner %}{{site.url}}{{page.banner}}{%else%}{{site.url}}/assets/meta/an-og.jpg?v=2{% endif %}">
    <meta content="summary_large_image" name="twitter:card">
    <meta property="twitter:image" content="{% if page.banner %}{{site.url}}{{page.banner}}{%else%}{{site.url}}/assets/meta/an-og.jpg?v=2{% endif %}">
    <link href="/assets/meta/an-favicon-32.png?v=2" rel="shortcut icon" type="image/x-icon">
    <link href="/assets/meta/an-favicon-256.png?v=2" rel="apple-touch-icon">

    <link rel="stylesheet" href="/assets/css/tachyons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/remixicon/remixicon.css">
    <link rel="stylesheet" href="/assets/css/loading.css">

    {% include analytics.html %}

    {% if page.style %}
    <style>
        @media (prefers-color-scheme: light) {
            body {
                /* background-color: #100023; */
                background-color: {{ page.style.light.bg }};
                background-image: none;
            }
            header {
                /* background-color: #1f1c3f; */
                background-color: {{ page.style.light.nav }};
            }
            body, nav a, .main {
                /* color: #bec7de; */
                color: {{ page.style.light.text }};
            }
            .secondary {
                /* color: #a8b0c7; */
                color: {{ page.style.light.secondary }};
            }
            .b--faint, hr {
                /* border-color: #1f1c3f; */
                border-color: {{ page.style.light.b--faint }};
            }
            .bg-faint {
                /* background-color: #1f1c3f; */
                background-color: {{ page.style.light.bg-faint }};
            }
        }

        @media (prefers-color-scheme: dark) {
            body {
                /* background-color: #100023; */
                background-color: {{ page.style.dark.bg }};
                background-image: none;
            }
            header {
                /* background-color: #1f1c3f; */
                background-color: {{ page.style.dark.nav }};
            }
            body, nav a, .main {
                /* color: #bec7de; */
                color: {{ page.style.dark.text }};
            }
            .secondary {
                /* color: #a8b0c7; */
                color: {{ page.style.dark.secondary }};
            }
            .b--faint, hr {
                /* border-color: #1f1c3f; */
                border-color: {{ page.style.dark.b--faint }};
            }
            .bg-faint {
                /* background-color: #1f1c3f; */
                background-color: {{ page.style.dark.bg-faint }};
            }
        }
    </style>
    {% endif %}

    {% if page.url contains 'reading' %}
    <style>
        @media (prefers-color-scheme: light) {
            body {
                /* background-color: #682cb0; */
               background-image: none;
            }
        }
        @media (prefers-color-scheme: dark) {
            body {
                /* background-color: #100023; */
                background-image: none;
            }
        }
    </style>
    {% endif %}
    
    <script>
        /* to prevent Firefox FOUC */
        let FF_FOUC_FIX;
    </script>