<a class="skip-to-content-link" href="#main">
			Skip to content
		</a>
		
		<!-- NEW NAV Mobile + Desktop -->

		{% assign data = site.data.navbar %}

		<header class="flex justify-center relative">
			<div class="container f5 new-nav fixed bottom-0 bottom-unset-ns top-0-ns w-100 flex items-center justify-center z-999 pa2 pt3">
				<a class="dn flex-ns flex-row items-center link dim mr2 " href="/{{page.lang}}/" title="Homepage">
					<svg class="nt1" width="48px" viewBox="0 0 201 123" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M104.423 32.4863V122.486H130.234V84.3129L174.381 122.486H200.193V0.921158H174.381V91.0717L130.234 52.8984V0.921158H104.423L96.5 0.921188L0.192505 122.486H33.1222L65.8948 81.1187V122.486H89.6577V62.2114H80.8737L104.423 32.4863Z"/>
					</svg>
				</a>
	
				<div class="dn db-ns bw1 bt b--faint w-100 mh3"></div>
	
				<nav class="flex items-center pa1 br3">
					<div class="flex">
						<a href="/{{page.lang}}" class="{%- if page.url == '/' or page.url == '/en/' -%}bg-nav c {%- endif -%} c no-underline ph3 pv2 br2 mobile-nav-hover nowrap">Work&nbsp;<span class="dib ml1 o-60">/</span></a>
						<a href="/{{page.lang}}/about" class="{%- if page.url == '/en/about/' -%}bg-nav c {%- endif -%} c no-underline ph3 pv2 br2 mobile-nav-hover">About</a>
						<a href="/{{page.lang}}/contact" class="{%- if page.url == '/en/contact/' -%}bg-nav c {%- endif -%} c no-underline ph3 pv2 br2 mobile-nav-hover">Contact</a>
						<a id="more-button" href="/{{page.lang}}/menu" class="{%- if page.url == '/en/info/' -%}bg-nav c {%- endif -%} c w3 tc no-underline ph3 pv2 br2 mobile-nav-hover pointer">•••</a>
					</div>
				</nav>
			</div>
		</header>
		
		<div id="open-menu" class="f5 fixed z-max w-100 pa2 br4 b--faint bw2">
			<div class="flex flex-row new-nav justify-end container-ns">
				<nav class="pa2 br4 w5 ba bw2 b--faint w-100 w-auto-ns">
					<div class="flex flex-column gap2"> 
						{%- for navlink in data.secondary -%}
							<a class="bg-faint flex justify-between items-center bg-nav mobile-nav-hover link" href="/
							{%- if navlink.langs == "yes" -%}
							{{page.lang}}/
							{%- endif -%}
							{{navlink.url}}/"> 
								<div class="pa3 pr5 flex items-center">
									{%- if page.url contains navlink.url -%}
										<svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle cx="4.5" cy="5" r="4.5" fill="#17DE35"/>
										</svg>
									{%- endif -%}
									<span class="ml2">{{ navlink[page.lang] }}</span>
								</div>
								<img src="{{ navlink.image }}" alt="{{ navlink[page.lang] }}" width="128" height="64">
							</a> 
						{%- endfor -%}
					</div>
				</nav>
			</div>
		</div>

