		<header class="bt bw2 border-rainbow">
			<nav class="pa2 nowrap overflow-x-auto flex items-center">
				<a class="link dim dib mr4 flex flex-row items-center" href="/{{page.lang}}/" title="Go to the homepage">
					<svg width="40px" viewBox="0 0 201 123" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M104.423 32.4863V122.486H130.234V84.3129L174.381 122.486H200.193V0.921158H174.381V91.0717L130.234 52.8984V0.921158H104.423L96.5 0.921188L0.192505 122.486H33.1222L65.8948 81.1187V122.486H89.6577V62.2114H80.8737L104.423 32.4863Z"/>
					</svg>
				</a>

				{% assign data = site.data.navbar %}
				{%- for navlink in data.main -%}

				<a class="{%- if page.url contains navlink.url -%}strike o-50 fw4 link dib mr3{%- else -%}link dib mr3 f5 flex flex-row items-center{%- endif -%}" href="/
				{%- if navlink.langs == "yes" -%}
				{{page.lang}}/
				{%- endif -%}
				{{navlink.url}}/">{{navlink[page.lang]}}</a> 

				{%- endfor -%}

				{%- for navlink in data.secondary -%}
				<a class="{%- if page.url contains navlink.url -%}strike o-50 link pr3 fw4 secondary{%- else -%}link pr3 fw4 secondary f5 flex flex-row items-center{%- endif -%}" href="/
				{%- if navlink.langs == "yes" -%}
				{{page.lang}}/
				{%- endif -%}
				{{navlink.url}}/">{{navlink[page.lang]}}</a> 

				{%- endfor -%}

			</nav>
		</header>
		