$media-small: 620px;
$padding: 24px;
$max-width: 900px;

/* ARTICLE BLOG */

article {
  font-size: 1em;
}

article p,
article ul,
article ol,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-left: auto;
  margin-right: auto;
}

article img, p img {
  display: block;
  margin: 1.5em auto;
  border: 2px solid #874eb94d;
  border-radius: 16px;
}

blockquote, q, .blockquote, .q{
  font-size: 1.5em;
  /* font-style: italic; */
  font-weight: 400;
  text-align: left;
  line-height: 150%;
  border-left: 10px solid #383272;
  padding: 0 0 0 0;
}

article blockquote,
article q {
  padding: 1em 4em; /* large screen */
}

blockquote p {
  min-width: 100%;
}

.hyphens {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

i {
  font-size: 20px;
  vertical-align: sub;
  opacity: 0.4;
}

article {
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;
}

article audio {
  display: block;
  width: 99%;
  margin: 0 auto;
}

article ul ul {
  width: 100%;
}

article a {
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 2px solid;
}

.language-plaintext {
  border-radius: 6px;
  padding: 2px 6px;
}

article figure, div.highlight {
  padding: 10px 20px;
  border-radius: 6px;
  border: 2px solid rgb(99, 99, 99);
}

code {
  text-wrap: balance;
  font-size: 0.9em;
}


/* SMALL SCREEN */
@media (max-width: $media-small) {

  article img {
    min-width: 100vw;
    position: relative;
    left: -$padding;
    max-width: auto;
    border: none;
    border-radius: 0;
  }

  article blockquote,
  article q {
    min-width: 103%;
    position: relative;
    /* SMALL SCREEN */
    left: -2.2em;
    padding: .2em 0 .2em .5em;
    font-size: 1.3em;
  }

  article figure, div.highlight {
    padding: 10px 20px;
    border-radius: 6px;
    margin: 2em 0;
    border: 2px solid rgb(99, 99, 99);
  }
}