<!-- EMAIL CTA START -->
  <div class="section">
    <div class="container center w-container">
      <div class="get-in-touch">
            {% if page.lang == 'en' %}
              <h2>Currently not available for projects</h2>
              <h4>You can send comments at:</h4>
            {% elsif page.lang == 'de' %}
              <h2 class="center">Derzeit für Projekte nicht verfügbar</h2>
              <h4>Kommentare senden an:</h4>
            {% elsif page.lang == 'gr' %}
              <h2 class="center">Προς το παρόν, δεν αναλαμβάνω project</h2>
              <h4>Μπορείτε να στείλτε σχόλια στο:</h4>
            {% endif %}
        <!-- <a href="mailto:hello<code>@</code>annafilou<code>.</code>com?subject=Project%20Enquiry" class="link-block w-inline-block"> -->
          <div class="button">
            <div class="fa-icon fa-left"></div>
            <div class="button-text">hello<code>@</code>annafilou<code>.</code>com</div>
          </div>
        <!-- </a> -->
      </div>
    </div>
  </div>
  <!-- EMAIL CTA END -->
