<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }} | {{ page.title }}</title>

<meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" name="description">
<meta content="{{ site.title }} | {{ page.title }}" property="og:title">
<meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" property="og:description">
<meta content="{{ site.title }} | {{ page.title }}" property="twitter:title">
<meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" property="twitter:description">
<meta property="og:type" content="website">
<meta property="og:image" content="{{site.url}}/assets/meta/an-og.png">
<meta content="summary_large_image" name="twitter:card">
<meta property="twitter:image" content="{{site.url}}/assets/meta/an-og.png">
<link href="/assets/meta/an-favicon-32.png?v=2" rel="shortcut icon" type="image/x-icon">
<link href="/assets/meta/an-favicon-256.png?v=2" rel="apple-touch-icon">

<link rel="stylesheet" href="/css/tachyons-min.css">
<link rel="stylesheet" href="/css/style-min.css">
<link rel="stylesheet" href="/remixicon/remixicon.css">

{% include components/analytics.html %}

<script>
    /* to prevent Firefox FOUC */
    let FF_FOUC_FIX;
</script>

<!-- Minymon start -->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie_svg.min.js" 
  type="text/javascript">
</script>
<script 
  src="https://api.minymon.com/minymon.js" 
  defer
  type="text/javascript">
</script>
<!-- Minymon end -->
