	<header class="pa2 pt3 bt bw3-l b--dark-green">
		<nav class="nowrap overflow-x-auto flex items-center">
			<a class="link dim dib mr4" href="/{{page.lang}}/">
				<svg width="50px" viewBox="0 0 201 123" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M104.423 32.4863V122.486H130.234V84.3129L174.381 122.486H200.193V0.921158H174.381V91.0717L130.234 52.8984V0.921158H104.423L96.5 0.921188L0.192505 122.486H33.1222L65.8948 81.1187V122.486H89.6577V62.2114H80.8737L104.423 32.4863Z"/>
				</svg>
			</a>
			<a class="link dib mr3 underline-hover" href="/{{page.lang}}/contact/">Contact</a>
			<a class="link dib mr3 underline-hover" href="/{{page.lang}}/graphics/">Drawing</a>
			<!-- <a class="link dib mr3" href="writing">Writing</a> -->
			<a class="link dib mr3 fw4 secondary underline-hover" href="/reading/">Reading</a>
			<a class="link dib mr3 fw4 secondary underline-hover" href="/now/">Now</a>
			<!-- <a class="link dib mr3 fw4 secondary" href="">Offline</a> -->
			<!-- <a class="link dib mr3" href="typography">Typography</a> -->
		</nav>
	</header>
