<!-- NAVBAR START -->
  <div class="global-nav-wrapper">
    <div class="w-container">
      <div class="w-layout-grid grid"><a href="/{{ page.lang }}/" id="w-node-51a7aa7c3756-aa7c3753" class="logo-link w-inline-block"><img src="https://uploads-ssl.webflow.com/5d0bf149368cb9a1ff97c1eb/5d0bf3eb074c430cff76d509_AN%20logo.svg" alt="AN Logo" class="logo-img"></a>
        <div id="w-node-51a7aa7c3758-aa7c3753" class="nav-buttons-wrapper">
          <a href="/{{ page.lang }}/work/websites" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3759" class="global-nav-button w-inline-block">
            <div class="fa-icon fa-left"></div>
            <div class="nav-text">
            {% if page.lang == 'en' %}
            Sites
            {% elsif page.lang == 'de' %}
            Seiten
            {% elsif page.lang == 'gr' %}
            Site
            {% endif %}
            </div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375c" class="left-line"></div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375d" class="right-line"></div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375e" class="bottom-line"></div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375f" class="top-line"></div>
          </a>
          <a href="/{{ page.lang }}/work/graphics" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3760" class="global-nav-button w-inline-block">
            <div class="fa-icon fa-left"></div>
            <div class="nav-text">
            {% if page.lang == 'en' %}
            Art
            {% elsif page.lang == 'de' %}
            Kunst
            {% elsif page.lang == 'gr' %}
            Art
            {% endif %}
            </div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="bottom-line"></div>
            <div class="top-line"></div>
          </a>
          <a href="/{{ page.lang }}/about" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3767" class="global-nav-button w-inline-block">
            <div class="nav-text">
            {% if page.lang == 'en' %}
            About
            {% elsif page.lang == 'de' %}
            Info
            {% elsif page.lang == 'gr' %}
            Info
            {% endif %}
            </div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="bottom-line"></div>
            <div class="top-line"></div>
          </a>
          <a href="/{{ page.lang }}/#contact" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c376e" class="global-nav-button w-inline-block">
            <div class="nav-text">
            {% if page.lang == 'en' %}
            Contact
            {% elsif page.lang == 'de' %}
            Kontakt
            {% elsif page.lang == 'gr' %}
            Contact
            {% endif %}
            </div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="bottom-line"></div>
            <div class="top-line"></div>
          </a>
        </div>

        <!-- FLAGS START -->
        <div id="w-node-51a7aa7c3775-aa7c3753" class="nav-buttons-wrapper lang-wrapper">

          <a href="/{% if page.lang == 'gr' %}en{% else %}gr{% endif %}/{{ page.ref }}" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3776" class="global-nav-button flag-nav w-inline-block">
            <img src="/images/flag-{% if page.lang == 'gr' %}usa{% else %}gr{% endif %}.png" alt="" class="flag-2">
              <div class="left-line"></div>
              <div class="right-line"></div>
              <div class="bottom-line"></div>
              <div class="top-line"></div>
          </a>
          
          <a href="/{% if page.lang == 'de' %}en{% else %}de{% endif %}/{{ page.ref }}" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c377c" class="global-nav-button flag-nav w-inline-block">
            <img src="/images/flag-{% if page.lang == 'de' %}usa{% else %}de{% endif %}.png" alt="" class="flag-2">
              <div class="left-line"></div>
              <div class="right-line"></div>
              <div class="bottom-line"></div>
              <div class="top-line"></div>
          </a>

        </div>
        <!-- FLAGS END -->

      </div>
    </div>
  </div>
<!-- NAVBAR END -->