<!-- SOCIAL START -->
  <div id="social-container" class="social-container">
    <div class="w-layout-grid soci-grid">
    	<a id="w-node-3001fa8f50cf-c8876ae2" href="https://instagram.com/brechdaslicht" target="_blank" class="icon-link w-inline-block"><img src="/images/instagram-color.svg" alt="Instagram" class="socicon"/a>

		<a id="w-node-f353cdf8a649-c8876ae2" href="https://twitter.com/that__anna" target="_blank" class="icon-link w-inline-block"><img src="/images/twitter-color.svg" alt="Twitter" class="socicon"/a>

		<a id="w-node-1708ed4bb46c-c8876ae2" href="https://medium.com/@anna.filou" target="_blank" class="icon-link w-inline-block"><img src="/images/medium-gray.svg" alt="Medium" class="socicon"/a>

		<a id="w-node-fc4ce8456fa7-c8876ae2" href="https://dribbble.com/annafilou" target="_blank" class="icon-link w-inline-block"><img src="/images/dribbble-color.svg" alt="Dribbble" class="socicon"/a>

		<a id="w-node-29a9c72d3e66-c8876ae2" href="https://www.linkedin.com/in/annafilou" target="_blank" class="icon-link w-inline-block"><img src="/images/linkedin.svg" alt="LinkedIn" class="socicon"/a>
    </div>
  </div>
  
<!-- SOCIAL END -->