---
layout: default
---
<!-- layout: default means that this layout INCLUDES everything in default.html 
AND adds the following code in the {{content}} area of default.html -->
<div class="container flex flex-column flex-row-reverse-ns">
    <div class="mt4 mw6">
        <img src="/assets/stickers-1.png" alt="Handdrawn stickers: a burger, headphones, a rainbow, the MegaMan Battle Network emblem, a barbell, and a Pokeball">
    </div>
    <div class="" style="min-width: 60%;">
        <div class="measure">
            {{content}}
        </div>
    </div>
</div>