---
layout: default
---

<!-- layout: default means that this layout INCLUDES everything in default.html 
AND adds the following code in the {{content}} area of default.html -->
<div class="container flex flex-column flex-row-reverse-ns">
    <div class="mt4 pl4-ns flex flex-row items-start flex-wrap flex-column-ns gap3 relative">
        <img src="/assets/about-me.webp" class="br3 w-50 w-100-ns min-h-150" alt="young person with beaming smile and long dark hair waving at the camera with both hands">
        <div class="relative nl4 ml0-ns nt5-ns w-50 w-100-ns h-auto">
            <img src="/assets/stickers-1.png" class="" alt="Handdrawn stickers: a burger, headphones, a rainbow, the MegaMan Battle Network emblem, a barbell, and a Pokeball">
            <a href="https://www.16personalities.com/intp-personality" target="_blank" class="hover-rotate-right fit-content relative absolute bottom--2 left--2 top-0-ns left--2-ns top-2-l">
                <img src="/assets/intp-sticker.webp" class="w4 rotate--15 shadow grow-large" alt="the words INTP Assertive inside a stamp-shaped sticker">
            </a>
        </div>
        <video autoplay loop muted src="/assets/swan-bike.mp4" class="w-100 br3 dn db-ns"></video>
        <img src="/assets/about-illustration-from-timeline.webp" alt="" class="br3 dn db-ns">
        <div>
            {{page.sidebar | markdownify }}
        </div>
    </div>
    <div class="br-ns bw1-ns b--faint pr4-ns" style="min-width: 60%;">
        <div class="measure-wide">
            {{content}}
        </div>
    </div>
</div>
<div class="container">
    <div class="flex flex-column flex-row-ns ba bw1 b--faint br4 overflow-hidden mv4">
        <h2 class="mv0 nowrap f3 pa3 pb0 pb3-ns flex items-center justify-center b w-40-ns br-ns bw1-ns b--faint">Now what?</h2>
        
        <div class="w-60-ns f4">
            <a href="/{{page.lang}}/contact" class="no-underline">
            <div class="flex items-center pa3 bb bw1 b--faint hover-bg-faint">
                <div class="f2 mr3">💬</div>
                <div>
                Get in touch
                </div>
            </div>
            </a>
        
            <a href="/{{page.lang}}/collab" class="no-underline">
            <div class="flex items-center pa3 hover-bg-faint">
                <div class="f2 mr3">🤝</div>
                <div>
                Hire me
                </div>
            </div>
            </a>
        </div>
    </div>
        
    <div class="flex flex-column flex-row-ns ba bw1 b--faint br4 overflow-hidden mv4">
        <h2 class="mv0 nowrap f3 pa3 pb0 pb3-ns flex items-center justify-center b w-40-ns br-ns bw1-ns b--faint">Check out</h2>
        
        <div class="w-60-ns f4">
            <a href="/{{page.lang}}//#work" class="no-underline">
            <div class="flex items-center pa3 bb bw1 b--faint hover-bg-faint">
                <div class="f2 mr3">💼</div>
                <div>
                Some of my work
                </div>
            </div>
            </a>
        
            <a href="/{{page.lang}}/art" class="no-underline">
            <div class="flex items-center pa3 bb bw1 b--faint hover-bg-faint">
                <div class="f2 mr3">🎨</div>
                <div>
                My illustrations
                </div>
            </div>
            </a>
            <a href="/{{page.lang}}/manual" class="no-underline">
                <div class="flex items-center pa3 bb bw1 b--faint hover-bg-faint">
                    <div class="f2 mr3">📒</div>
                    <div>
                    My Manual
                    </div>
                </div>
            </a>
            <a href="/{{page.lang}}/posts" class="no-underline">
                <div class="flex items-center pa3 bb bw1 b--faint hover-bg-faint">
                    <div class="f2 mr3">📃</div>
                    <div>
                    Stuff I’ve written
                    </div>
                </div>
            </a>
            <a href="/uses" class="no-underline">
                <div class="flex items-center pa3 bb bw1 b--faint hover-bg-faint">
                    <div class="f2 mr3">🛠</div>
                    <div>
                    The software I use
                    </div>
                </div>
            </a>
            <a href="/now" class="no-underline">
                <div class="flex items-center pa3 hover-bg-faint">
                    <div class="f2 mr3">⏰</div>
                    <div>
                    What I’m up to
                    </div>
            </div>
            </a>
        </div>
    </div>
    <video autoplay loop muted src="/assets/swan-bike.mp4" class="w-100 br3 db dn-ns"></video>
</div>