---
layout: default
---

<div class="container">

  <div class="mv5">
    {%- if page.title -%}
    <h1>{{ page.title }}</h1>
    {%- endif -%}

    <div class="measure-wide secondary">
      {{ content }}
    </div>

  </div>
  

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
      {%- assign date_format = "%-d %B %Y" -%}

      {%- for post in posts -%}

        <a class="db no-underline dim main" href="{{ post.url | relative_url }}">
          <div class="flex flex-column flex-row-ns">
            <div class="w-100 w-40-ns mr0 mr4-ns">
              <div class="db aspect-ratio aspect-ratio--6x4 ">
                <span role="img" style="background-image:url({{post.main-image}});" class="bg-center cover aspect-ratio--object"></span>
              </div>
            </div>
            <div class="w-100 w-60-ns">
              <h3 class="mb2">{{ post.title | escape }}</h3>
              <p class="fw4 db secondary">
                {{ post.content | strip_html | truncate: 300, "...... [CLICK TO READ]"  }}
              </p>
              <p class="fw4 ttu mv0">{{ post.date | date: date_format }} | 6 min read</p>
            </div>
          </div>
        </a>

      {%- endfor -%}

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>