---
layout: default
---

<div class="container">

  <div class="mv5">
    {%- if page.title -%}
    <h1>{{ page.title }}</h1>
    {%- endif -%}

    <div class="measure-wide">
      {{ content }}
    </div>

  </div>
  

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
      {%- assign date_format = "%-d %B %Y" -%}

      {% assign en_posts = site.posts | where: "lang", page.lang %}

      {%- for post in en_posts -%}

        <a class="db no-underline grow main" href="{{ post.url | relative_url }}">
          <div class="flex flex-column flex-row-ns">
            {%- if post.main-image == empty -%}
             <div class="w-100 w-60-ns bl bw5 b--dark-green pl4">
            {% else %}          
              <div class="w-100 w-40-ns mr0 mr4-ns">
                <div class="db aspect-ratio aspect-ratio--6x4 ">
                  <span role="img" style="background-image:url({{post.main-image}});" class="bg-center cover aspect-ratio--object"></span>
                </div>
              </div>
              <div class="w-100 w-60-ns">
            {%- endif -%}

              <h3 class="mt3 mb1">{{ post.title | escape }}</h3>
              
              <p class="fw4 ttu mv0 secondary">
                <span class="reading-time" title="Estimated read time">
                  {% assign words = post.content | number_of_words %}
                  {% if words < 500 %}
                     less than 1 min
                  {% else %}
                      {{ words | divided_by:280 }} min
                  {% endif %}
                  to read
               </span>
               </p>
              <p class="fw4 db">
                <span class="ttu b mr2">Excerpt:</span> {{ post.content | strip_html | truncate: 300, "…"  }}
              </p>
              
            </div>
          </div>
        </a>

      {%- endfor -%}

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>