---
layout: default
---

<div class="container">

  <div class="mv5">
    {%- if page.title -%}
    <h1>{{ page.title }}</h1>
    {%- endif -%}

    <div class="measure-wide">
      {{ content }}
    </div>
  </div>
  

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
      {%- assign date_format = "%-d %B %Y" -%}

      {% assign en_posts = site.posts | where: "lang", page.lang %}

      <!-- VERSION 3 -->

      <div class="flex flex-row flex-wrap nl3 nr3">
        {%- for post in en_posts -%}

        <a 
        class="w-30 mh3 no-underline main pa4 br3 mb4 bg-faint shadow-hover grow-small" 
        href="{{ post.url | relative_url }}">
            <div class="flex flex-column justify-center h-100">

              <div class="mb4 h-100 flex flex-column justify-center">
                <h3 class="f4 mt0 mb3">{{ post.title | escape }}</h3>
                <p class="mv0 tertiary tracked ttu f5">
                  <span class="reading-time" title="Estimated read time">
                    {% assign words = post.content | number_of_words %}
                    {% if words < 210 %}
                      less than 1 min
                    {% else %}
                        {{ words | divided_by:210 }} min
                    {% endif %}
                    to read
                  </span>
                  • 
                  {{ post.tags }}
                </p>
            </div>

            {%- if post.main-image == empty -%}
                <div class="bl bw5 b--dark-green pl4">
            {% else %}          
                <div class="">
                  <div class="db aspect-ratio aspect-ratio--6x4">
                    <span role="img" style="background-image:url({{post.main-image}});" 
                    class="bg-center cover aspect-ratio--object br3">
                    </span>
                  </div>
                </div>
            {%- endif -%}

              
          </div>
        </a>

      {%- endfor -%}
      </div>

      <!-- text VERSION -->
      <div class="flex flex-row flex-wrap nl3 nr3">
        {%- for post in en_posts -%}

        <a 
        class="w-100 mh3 no-underline main pa4 br3 mb4 bg-faint shadow-hover" 
        href="{{ post.url | relative_url }}">
            <div class="flex flex-column justify-center h-100">

              <div class="">
                <h2 class="f3 mt0 mb3">{{ post.title | escape }}</h2>
                <div class="mv0 secondary tracked ttu f5 tr o-80">
                
                  {{ post.tags }}
                  • 
                  <span class="reading-time tertiary" title="Estimated read time">
                    {% assign words = post.content | number_of_words %}
                    {% if words < 210 %}
                      less than 1 min
                    {% else %}
                        {{ words | divided_by:210 }} min
                    {% endif %}
                    to read
                  </span>
                </div>
            </div> 
          </div>
        </a>

      {%- endfor -%}
      </div>


    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>