---
layout: default
---

<div class="container flex flex-column flex-row-ns mt5 mt6-ns mb5">
    <div class="w-40-ns" style="">
        <div class="measure mt1">
            <div class="secondary tracked ttu f5 b">{{page.type}}</div>
            <div class="secondary tracked ttu f5 mt2">{{page.date | date: '%Y'}}</div>
        </div>
    </div>

    <div class="w-60-ns mt4 mt0-ns">
        <h1 class="mt0">{{page.title}}</h1>
        <p class="f3">
            {{page.intro}}
        </p>
    </div>
</div>

<div class="vw-100">
    <img src="{{page.banner}}" alt="" class="w-100 dn db-ns">
    <img src="{{page.banner-mobile}}" alt="" class="w-100 db dn-ns">
</div>

<!-- GENERATED SECTIONS -->
{%- for section in page.sections -%}
    <div class="container">
        <div class="flex flex-column flex-row-ns mv5">
            <div class="w-40-ns">
                <div class="measure">
                    <div class="secondary tracked ttu f5 nt2-ns">{{section.title}}</div>
                </div>
            </div>
            <div class="w-60-ns mt4 mt0-ns">
                <div class="nt4 f4-ns lh-copy">
                    {{section.text | markdownify}}
                </div>
            </div>
        </div>
        
        {% if section.image-1 and section.image-2%}
            <div class="cf">
                <div class="w-50-ns fl mb3 mb0-ns">
                    {% if section.image-1 contains '.mp4' %}
                        <video autoplay loop muted class="w-100 br4">
                            <source src="{{section.image-1}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <img src="{{section.image-1}}" class="br4" alt="">
                    {% endif %}
                </div>
                <div class="w-50-ns fl">
                    {% if section.image-2 contains '.mp4' %}
                        <video autoplay loop muted class="w-100 br4">
                            <source src="{{section.image-2}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <img src="{{section.image-2}}" class="br4" alt="">
                    {% endif %}
                </div>
            </div>
        {% elsif section.image-1 %}
        
            <div class="mb3 mb0-ns">
                {% if section.image-1 contains '.mp4' %}
                    <video autoplay loop muted class="w-100 br4">
                        <source src="{{section.image-1}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <img src="{{section.image-1}}" class="br4" alt="">
                {% endif %}
            </div>

        {% endif %}
        
    </div>

{%- endfor -%}  

<hr>
