---
layout: default
---
<div class="progress"></div>

<div class="container flex flex-column flex-row-ns mt6 mb5">
    <div class="w-40-ns" style="">
        <div class="measure">
            <div class="secondary tracked ttu f5 b">{{page.type}}</div>
            <div class="secondary tracked ttu f5 mt2">{{page.date | date: '%Y'}}</div>
        </div>
    </div>

    <div class="w-60-ns mt4 mt0-ns">
        <h1 class="mt0">{{page.title}}</h1>
        <p class="f3">
            As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
        </p>
    </div>
</div>

<div class="vw-100">
    <img src="{{page.banner}}" alt="" class="w-100">
</div>

<!-- GENERATED SECTIONS -->

{%- for section in page.sections -%}
    <div class="container mt6">
        <div class="flex flex-column flex-row-ns mv5">
            <div class="w-40-ns" style="">
                <div class="measure">
                    <div class="secondary tracked ttu f5">{{section.title}}</div>
                </div>
            </div>
            <div class="w-60-ns mt4 mt0-ns">
                <div class="nt4 f3-ns">
                    {{section.text | markdownify}}
                </div>
            </div>
        </div>
        {% if section.image-1 %}
            <div class="cf">
                <div class="w-50-ns fl mb3 mb0-ns">
                    <img src="{{section.image-1}}" alt="">
                </div>
                <div class="w-50-ns fl">
                    <img src="{{section.image-2}}" alt="">
                </div>
            </div>
        {% endif %}
    </div>

{%- endfor -%}  

<hr>

<script src="/js/jquery-3.6.3.min.js"></script>
<script src="/js/progress.js"></script>