---
layout: default
---
<div class="container flex flex-column flex-row-ns mt6 mb5">
    <div class="w-40-ns" style="">
        <div class="measure">
            <div class="secondary tracked ttu f5">Product design</div>
            <div class="secondary tracked ttu f5 mt2">2020</div>
        </div>
    </div>

    <div class="w-60-ns mt4 mt0-ns">
        <h1 class="mt0">{{page.title}}</h1>
        <p class="f3">
            As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
        </p>
    </div>
</div>

<div class="vw-100">
    <img src="/assets/monster-behance-cover.jpg" alt="" class="w-100">
</div>

<div class="container mt6">
    <div class="flex flex-column flex-row-ns mv5">
        <div class="w-40-ns" style="">
            <div class="measure">
                <div class="secondary tracked ttu f5">The challenge</div>
            </div>
        </div>
        <div class="w-60-ns mt4 mt0-ns">
            <div class="nt4">
                <p class="f3">
                    As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
                </p>
                <p class="f3">
                    As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
                </p>
            </div>
        </div>
    </div>
    <div class="cf">
        <div class="w-50-ns fl pr1-ns mb3 mb0-ns">
            <img src="/assets/drawings/20210527_purple-hair.jpg" alt="">
        </div>
        <div class="w-50-ns fl">
            <img src="/assets/drawings/20210531_merman.jpg" alt="">
        </div>
    </div>
</div>

<div class="container mt6">
    <div class="flex flex-column flex-row-ns mv5">
        <div class="w-40-ns" style="">
            <div class="measure">
                <div class="secondary tracked ttu f5">The challenge</div>
            </div>
        </div>
        <div class="w-60-ns mt4 mt0-ns">
            <div class="nt4">
                <p class="f3">
                    As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
                </p>
                <p class="f3">
                    As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
                </p>
            </div>
        </div>
    </div>
    <div class="cf">
        <div class="w-50-ns fl pr1-ns mb3 mb0-ns">
            <img src="/assets/drawings/20210527_purple-hair.jpg" alt="">
        </div>
        <div class="w-50-ns fl">
            <img src="/assets/drawings/20210531_merman.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="flex flex-column flex-row-ns mt6 mb5">
        <div class="w-40-ns" style="">
            <div class="measure">
                <div class="secondary tracked ttu f5">The challenge</div>
            </div>
        </div>
        <div class="w-60-ns mt4 mt0-ns">
            <div class="nt4">
                <p class="f3">
                    As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
                </p>
                <p class="f3">
                    As part of a design challenge, I performed market research and then redesigned the homepage of Monster Energy in less than a week.
                </p>
            </div>
        </div>
    </div>
</div>