<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/loading.css">
    <noscript>
        <style>
            #loading { display: none; }
        </style>
    </noscript>
</head>
<body class="bt bw2 border-rainbow min-vh-100">

{% if page.url == "/" or page.url == "/en/" %}
    <div id="loading">
        <div class="word">
            <span>L</span><span>O</span><span>A</span><span>D</span><span>I</span><span>N</span><span>G</span><span>.</span><span>.</span><span>.</span>
        </div>
        <div class="overlay"></div>
    </div>
{% endif %}

    <div class="progress"></div>
    
    {% include navbar.html %}
    <main id="main">
    {{ content }}
    </main>
    {% include footer.html %}

    <script src="/assets/js/progress.js"></script>
    <script src="/assets/js/main.js"></script>
    {% if page.url == "/" or page.url == "/en/" %}
        <script src="/assets/js/loading.js"></script>
    {% endif %}
</body>
</html>