---
layout: default
---

<!-- layout: default means that this layout INCLUDES everything in default.html 
AND adds the following code in the {{content}} area of default.html -->

<div class="container relative flex flex-column flex-row-ns">

    <div class="w-100 w-40-ns pr0 pr5-ns">
        <div class="pv4 pt6-ns sticky-ns">
            <h1 class="ph3 ph0-ns">{{page.title}}</h1>
            <dl class="w-100 fl f5 lh-title ph3 ph0-ns">
                <dt class="secondary b mb1 o-90">What is this page?</dt>
                <dd class="secondary ml0 o-90 lh-copy">
                    {{page.subtitle | markdownify}}
                </dd>
            </dl>
        </div>
    </div>

    <div class="w-60-ns mt6-ns">
        <div class="bg-faint pt3 ph3 pb2 pa3-ns ph4-ns br4">
            {{content}}
        </div>
    </div>
</div>