<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
{% include head.html %}
</head>
<body class="mb0">

    {% include navbar.html %}

	
	{% include more.html %}

    <!-- <main class="container min-vh-100 pv3 flex flex-column justify-center">

		<h1 class="center f2">More pages</h1>
		
		<div class="flex flex-column ttu gap3 pt3 pb5">
			{%- for navlink in data.secondary -%}
				<a class="white pa3 no-underline flex justify-center items-center bg-nav mobile-nav-hover br3" href="/
				{%- if navlink.langs == "yes" -%}
				{{page.lang}}/
				{%- endif -%}
				{{navlink.url}}/">{{navlink[page.lang]}}</a> 
			{%- endfor -%}
		</div>
        
    </main> -->
</body>
</html>