---
layout: default
---

<div class="container relative flex flex-column flex-row-ns">
    <div class="w-100 w-40-ns mv4">
        <div class="pv4 pt6-ns sticky-ns">
            <h1 class="ph3 ph0-ns">Now Page</h1>
            <dl class="w-100 fl f5 lh-title ph3 ph0-ns">
                <dt class="secondary b mb1 o-90">What is this page?</dt>
                <dd class="secondary ml0 o-90 lh-copy">The answer to “what are you up&nbsp;to lately?”
                    <br>
                    Part of the <a href="https://nownownow.com/about">Now&nbsp;Now&nbsp;Now project</a>.</dd>
            </dl>
        </div>
    </div>
    <div class="w-60-ns mt6-ns">
        
        <div class="">
            <div class="bg-faint pt3 ph3 pb2 pa3-ns ph4-ns br4">
                <div class="f5 secondary">Latest Update: <strong>{{ page.updated }}</strong></div>
                <hr class="mv3">
                {{page.now | markdownify}}
            </div>
            <div class="measure">
                {{content}}
            </div>
            
        </div>
    </div>
</div>