---
layout: default
---
<div class="progress"></div>

<article class="mt4">
    <div class="mb5">
        <h1 class="">{{page.title}}</h1>
        <p class="secondary tracked ttu f6">
            <span class="ml1 tertiary">{{content | number_of_words}} words • </span>
            {% include read_time.html %} to read
        </p>
    </div>
    
    <main class="lh-copy"> 
        {{content}}
    </main>
</article>

<hr>

<div class="mt6 flex flex-column items-center mh3">

    <div class="fl lh-title w-auto w-50-ns pa4 br2 bg-faint mw7 mv0 flex flex-column flex-row-ns">
        <img
        src="/assets/anna-avatar.jpg"
        class="br-100 h3 w3 dib mb4 mb0-ns mr4-ns" alt="avatar">

        <div>
            <div class="b mb1">Written by <a href="/{{page.lang}}/about">Anna</a></div>
            <div class="secondary ml0">Published on {{page.date | date: "%-d %B %Y"}}</div>
            <div class="mt3">
                <p class="mt0 mb1"><a href="/{{page.lang}}/writing">→ All Posts</a></p>
                <p class="mv0"><a href="/feed.xml">→ RSS feed</a></p>
            </div>
        </div>
    </div>

</div>

<script src="/js/jquery-3.6.3.min.js"></script>
<script src="/js/progress.js"></script>