---
layout: default
---

<article class="mt4 mt6-ns overflow-hidden">
  <div class="mb5">
    <h1 class="">{{ page.title }}</h1>
    <p class="secondary tracked ttu f6">
      <span class="ml1 tertiary">{{ content | number_of_words }} words •
      </span>
      {% include read_time.html %} to read
    </p>
  </div>

  <main class="lh-copy">
    {{ content }}
  </main>
</article>

<hr>

<div id="more-articles" class="mt5 pa3 flex flex-column items-center">

  <div class="fl lh-title w-100 mw6 pa4 br3 bg-faint flex flex-column flex-row-ns">
    <img src="/assets/anna-avatar.jpg" class="br-100 h3 w3 dib mb4 mb0-ns mr4-ns" alt="avatar">

    <div>
      <div class="b mb1">Written by
        <a href="/en/about">Anna</a>
      </div>
      <div class="secondary ml0">Published on {{page.date | date: "%B %e, %Y"}}</div>
      <div class="mt3">
        <p class="mt0 mb1">
          <a href="/en/posts">→ All Posts</a>
        </p>
        <p class="mv0">
          <a href="/feed.xml">→ RSS feed</a>
        </p>
      </div>
    </div>
  </div>

</div>