---
layout: default
---

<article class="mt4 mt6-ns overflow-hidden">
  <div class="mb5">
    <h1 class="">{{ page.title }}</h1>
    <p class="secondary tracked ttu f6">
      <span class="ml1 tertiary">{{ content | number_of_words }} words •
      </span>
      {% include read_time.html %} to read
    </p>
  </div>

  <main class="">
    {{ content }}
  </main>
</article>

<hr>

<div id="more-articles" class="mt5 pa3 flex flex-column items-center">

  <div class="lh-title w-100 mw6 pa4 br3 bg-faint flex flex-column flex-row-ns">
    <img src="/assets/anna-avatar.webp" class="br-100 dib mb4 mb0-ns mr4-ns" alt="avatar" width="80" height="80">
    <div>
      <div class="b mb1">Written by
        <a href="/en/about">Anna</a>
      </div>
      <div class="secondary ml0">First published on {{page.date | date: "%B %e, %Y"}}</div>
      <div class="mt3">
        <div class="mt0 mb1">
          <a href="/en/posts">All Posts</a> | <a href="/feed.xml">RSS feed</a>
        </div>
      </div>
    </div>
  </div>

</div>