---
layout: default
---

<div class="container mt5 mb4 mb0-ns mt6-ns">
    <h1 class="f1">{{page.title}}</h1>
    <div class="measure-narrow">
        {{content}}
    </div>
</div>

{% assign years = page.books | map: "read" | uniq | sort | reverse %}

<div class="container-ns sticky z-1 mb4 mb0-ns nt6-ns pt5-ns new-nav tr">
    <nav class="f5 pa3 br3-ns w-100 w-auto-ns dib-ns overflow-x-auto">
        <div class="nowrap flex items-center">  
            <div class="dib mr2">Jump to:</div>
            {% for year in years %}
                {% unless year == "now" %}
                    <a href="#{{year}}" class="mr2">{{year}}</a>
                {% endunless %}
            {%- endfor -%}  
        </div>
    </nav>
</div>

<div class="container">
    <h2 class="f2">Started</h2>
</div>

<section>
    <div class="book-carousel nowrap flex items-end w-100">
        {%- for book in page.books-%}
            {%- if book.read == "now" -%}
            <div class="w-20-ns mr4 mv2 ws-normal" style="min-width: 200px;">
                <div class="book-3d mb4 ml1">
                    <div class="book-3d__inner" style="--book-thickness: calc({{book.pages}}px / 11);">
                        <img src="{{book.cover}}" class="book-3d__cover smooth-shadow" alt="">
                    </div>
                </div>
                <h3 class="mt2 mb1 f5">{{book.title}}</h3>
                <div class="o-70">by {{book.author}}</div>
            </div>
            {%- endif -%}
        {%- endfor -%}  
    </div>
</section>



{% for year in years %}
    {% unless year == "now" %}
    <section id="{{year}}" class="mt4" style="scroll-margin-top: 140px;">

        <div class="container mb5">
            <h2 class="f2">Books read in {{year}} <span class="o-40">({{page.books | where: "read", year | size}})</span></h2>
        </div>

        {% assign books_for_year = page.books | where: "read", year %}
        {% if books_for_year.size > 3 %}
        <div class="book-carousel nowrap flex items-end w-100 pb4 nt4 mb5 bb-ns bw1 b--faint">
            {%- for book in books_for_year -%}
                <a href="#{{ book.title | slugify }}" class="w-20-ns mr4 mv2 ws-normal raise pt3" style="min-width: 200px;">
                    <div class="book-3d mb4">
                        <div class="book-3d__inner" style="--book-thickness: calc({{book.pages}}px / 11);">
                            <img src="{{book.cover}}" class="book-3d__cover smooth-shadow" alt="">
                        </div>
                    </div>
                </a>
            {%- endfor -%}  
        </div>
        {% endif %}

        <div class="container">
            {%- for book in page.books -%}
            {%- if book.read == year -%}
            <div id="{{ book.title | slugify }}" class="flex flex-column flex-row-ns items-start items-start-ns pb5-ns mb5 bb-ns bw1 b--faint" style="scroll-margin-top: 140px;">
                <div class="book-3d">
                    <div class="book-3d__inner" style="--book-thickness: calc({{book.pages}}px / 8);">
                        <img src="{{book.cover}}" class="book-3d__cover smooth-shadow" alt="">
                    </div>
                </div>

                <div class="mt5 mt3-ns ml5-ns">
                    <h3 class="f3 mt0 mb1">{{book.title}}</h3>
                    <div class="dib f4">by {{book.author}}</div>
                    <div class="dib f4 ml3 secondary o-70">{{book.pages}} pages</div>
                    <div class="mt3 mt4-ns measure lh-copy">{{book.my-notes | markdownify}}</div>
                </div>
            </div>
            {%- endif -%}
        {%- endfor -%}  
        </div>
    </section>
    {% endunless %}
{% endfor %}

<script src="/assets/js/book-carousel-scrollbar.js"></script>
