---
layout: default
---

<div class="container mt5 mt6-ns flex flex-column items-start">
	<h1 class="ttu mb3 mt0">{{ page.title }}</h1>
	<a href="/{{ page.lang }}/#work" class="f5 br3 ph3 pv2 dib ba bw1 b--faint bg-faint nowrap link">← Back</a>
</div>

<section class="container-lg-ns pa3 work-grid pt4 pt5-ns">
	{% assign items = site.data[page.data] %}
	{% for grid-item in items %}
		{% if grid-item.link.url %}
			<a
				href="{{ grid-item.link.url }}"
				class="flex flex-column justify-between pa3 bg-faint br3 grow-small no-underline"
				{% if grid-item.link.url contains 'http' %}target="_BLANK"{% endif %}>
		{% else %}
			<div class="flex flex-column justify-between pa3 bg-faint br3">
		{% endif %}
			<div class="flex items-center justify-between mb1">
				<h3 class="f3 f4-ns ma0 ttn mr2">{{ grid-item.title[page.lang] }}</h3>
				<div class="nowrap">{{ grid-item.link.title }}</div>
			</div>
			<div class="f5 secondary fw4">{{ grid-item.desc[page.lang] }}</div>
			<div class="db aspect-ratio aspect-ratio--4x3 mv3">
				{% if grid-item.media contains '.mp4' or grid-item.media contains '.webm' %}
					<video autoplay loop muted playsinline class="aspect-ratio--object br2 object-cover">
						<source
							src="{{ grid-item.media }}"
							type="{% if grid-item.media contains '.webm' %}video/webm{% else %}video/mp4{% endif %}">
					</video>
				{% else %}
					<span
						role="img"
						aria-label=""
						style="background-image:url({{ grid-item.media }});"
						class="bg-center cover aspect-ratio--object br2"></span>
				{% endif %}
			</div>
			<div class="flex justify-between">
				<div>
					{% for tag in grid-item.tags %}
						<div class="tracked tag tag-{{ tag.color }} mb1 mr1">{{ tag.name }}</div>
					{% endfor %}
				</div>
				{% if grid-item.year %}
					<div class="white secondary">{{ grid-item.year }}</div>
				{% endif %}
			</div>
		{% if grid-item.link.url %}
			</a>
		{% else %}
			</div>
		{% endif %}
	{% endfor %}
</section>
